---
import BlogLayout from '../../layouts/BlogLayout.astro';

const jsonLd = [
  {
    "@context": "http://schema.org/",
    "@id": "https://djmisha.com",
    "@type": "Organization",
    "name": "San Diego DJ for Party Events Weddings DJs spinning House Music Dance EDM",
    "url": "https://djmisha.com",
    "logo": {
      "@type": "ImageObject",
      "url": "/images/logo-djmisha.png",
      "width": 400
    },
    "sameAs": [
      "https://www.instagram.com/djmishasd/",
      "https://www.youtube.com/@djmisha",
      "https://www.facebook.com/djmishaSandiego",
      "https://www.yelp.com/biz/dj-misha-san-diego-3",
      "https://www.gigtown.com/artists/dj-misha",
      "https://www.gigsalad.com/dj_misha_san_diego",
      "https://goo.gl/maps/2rRm8kBYePqaPbVE6",
      "https://www.zola.com/wedding-vendors/wedding-bands-djs/dj-misha"
    ],
    "contactPoint": {
      "telephone": "+1-619-786-2664",
      "contactType": "customer service"
    },
    "AggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "5",
      "reviewCount": "83"
    }
  },
  {
    "@context": "http://schema.org/",
    "@type": "WebSite",
    "url": "https://djmisha.com",
    "name": "San Diego DJ for Party Events Weddings DJs spinning House Music Dance EDM",
    "about": "DJ Misha is San Diego DJ for parties, corporate events and weddings. Playing house music, EDM, club, dance and much more. \r\n"
  },
  {
    "@context": "http://schema.org/",
    "@type": "WebPage",
    "url": "https://djmisha.com/blog/your-wedding-your-music-how-i-spin-a-dj-set-tailored-to-your-vision/",
    "headline": "Your Wedding, Your Music: How I Spin a DJ Set Tailored to Your Vision",
    "mainEntityOfPage": "https://djmisha.com/blog/your-wedding-your-music-how-i-spin-a-dj-set-tailored-to-your-vision/",
    "about": "After DJ\u2019ing weddings for many years, I\u2019ve come to realize one simple truth: no two weddings should sound the same. Every couple has a distinct vision, every crowd brings its own energy, and the music should reflect that to create a truly one-of-a-kind celebration. Every Wedding Deserves a Unique Soundtrack In my early years, I\u2026"
  },
  {
    "@context": "http://schema.org/",
    "@id": "#LocalBusiness",
    "@type": "LocalBusiness",
    "name": "San Diego DJ for Party Events Weddings DJs spinning House Music Dance EDM",
    "url": "https://djmisha.com/",
    "image": "/images/i-4LhQfht-L.jpg",
    "priceRange": "Contact For Pricing",
    "address": [
      {
        "@type": "PostalAddress",
        "streetAddress": "4640 Cass Street #9553",
        "addressLocality": "San Diego",
        "addressRegion": "CA",
        "postalCode": "92109",
        "addressCountry": "US",
        "telephone": "+1-619-786-2664"
      }
    ],
    "employees": ["DJ Misha"]
  },
  {
    "@context": "http://schema.org",
    "@type": "Person",
    "jobTitle": "DJ",
    "name": "DJ Misha",
    "telephone": "+1-619-786-2664",
    "url": "https://djmisha.com/about/",
    "image": "/images/Best-San-Diego-DJ-djmisha.com-12-300x200.jpg"
  }
];
const blogDesc = "DJ tips, wedding music guides, and behind-the-scenes insights from DJ Misha. Read about event planning, song requests, and creating unforgettable celebrations.";
---
<BlogLayout
  title="DJ Misha's Blog"
  pageHeading="DJ Misha's Blog"
  description={blogDesc}
  canonicalUrl="https://djmisha.com/blog/"
  ogTitle="DJ Misha's Blog"
  ogImage="https://djmisha.com/images/logo-djmisha.png"
  ogUrl="https://djmisha.com/blog/your-wedding-your-music-how-i-spin-a-dj-set-tailored-to-your-vision/"
  ogType="website"
  twitterTitle="DJ Misha's Blog"
  twitterImage="https://djmisha.com/images/logo-djmisha.png"
  jsonLd={jsonLd}
>

  <section class="col-4 col-12-small blog-card">
    <a href="/blog/your-wedding-your-music-how-i-spin-a-dj-set-tailored-to-your-vision/" rel="bookmark" class="blog-card__link">
      <span class="blog-card__img" style="background-image: url(/images/epic-DJ-set-wedding-dance-party.jpg)"></span>
      <h2 class="blog-card__title">Your Wedding, Your Music: How I Spin a DJ Set Tailored to Your Vision</h2>
    </a>
  </section>

  <section class="col-4 col-12-small blog-card">
    <a href="/blog/crafting-the-perfect-toast-dj-tips-for-a-memorable-wedding-speech/" rel="bookmark" class="blog-card__link">
      <span class="blog-card__img" style="background-image: url(/images/wedding-dj-toast.jpg)"></span>
      <h2 class="blog-card__title">Crafting the Perfect Toast: DJ Tips for a Memorable Wedding Speech</h2>
    </a>
  </section>

  <section class="col-4 col-12-small blog-card">
    <a href="/blog/the-art-of-taking-requests-a-djs-perspective/" rel="bookmark" class="blog-card__link">
      <span class="blog-card__img" style="background-image: url(/images/Screenshot-2024-09-14-at-6.18.37-AM.jpg)"></span>
      <h2 class="blog-card__title">The Art of Taking Requests: A DJ&#8217;s Perspective</h2>
    </a>
  </section>

  <section class="col-4 col-12-small blog-card">
    <a href="/blog/a-guide-to-planning-for-your-wedding-with-dj-misha/" rel="bookmark" class="blog-card__link">
      <span class="blog-card__img" style="background-image: url(/images/10-i-4lhqfht-l.jpg)"></span>
      <h2 class="blog-card__title">A Guide to Planning for Your Wedding with DJ Misha</h2>
    </a>
  </section>

  <section class="col-4 col-12-small blog-card">
    <a href="/blog/edm-dj-for-party-or-private-event-electronic-dance-music/" rel="bookmark" class="blog-card__link">
      <span class="blog-card__img" style="background-image: url(/images/vish-2648-3427900361-O.JPG)"></span>
      <h2 class="blog-card__title">DJ Misha Rocks the Party: A Night of Electronic Dance Music and House Music in San Diego</h2>
    </a>
  </section>

</BlogLayout>
