---
import PageLayout from '../../../layouts/PageLayout.astro';
const desc = "This comprehensive guide will help you plan your wedding day and music with DJ Misha. Create your wedding day to be a meaningful and entertaining experience.";
const jsonLd = [{"@context":"http://schema.org/","@id":"https://djmisha.com","@type":"Organization","name":"San Diego DJ for Party Events Weddings DJs spinning House Music Dance EDM","url":"https://djmisha.com","logo":{"@type":"ImageObject","url":"/images/logo-djmisha.png","width":400},"sameAs":["https://www.instagram.com/djmishasd/","https://www.youtube.com/@djmisha","https://www.facebook.com/djmishaSandiego","https://www.yelp.com/biz/dj-misha-san-diego-3","https://www.gigtown.com/artists/dj-misha","https://www.gigsalad.com/dj_misha_san_diego","https://goo.gl/maps/2rRm8kBYePqaPbVE6","https://www.zola.com/wedding-vendors/wedding-bands-djs/dj-misha"],"contactPoint":{"telephone":"+1-619-786-2664","contactType":"customer service"},"AggregateRating":{"@type":"AggregateRating","ratingValue":"5","reviewCount":"83"}},{"@context":"http://schema.org/","@type":"WebSite","url":"https://djmisha.com","name":"San Diego DJ for Party Events Weddings DJs spinning House Music Dance EDM","about":"DJ Misha is San Diego DJ for parties, corporate events and weddings. Playing house music, EDM, club, dance and much more. \r\n"},{"@context":"http://schema.org/","@type":"WebPage","url":"https://djmisha.com/blog/a-guide-to-planning-for-your-wedding-with-dj-misha/","headline":"A Guide to Planning for Your Wedding with DJ Misha","mainEntityOfPage":"https://djmisha.com/blog/a-guide-to-planning-for-your-wedding-with-dj-misha/","about":"Planning a wedding can be a formidable task, and choosing the right music is a big part of that. That\u2019s why we\u2019ve created this comprehensive guide to help you plan your wedding music with DJ Misha. Our goal is to make the music on your wedding day a meaningful and entertaining experience, while also making\u2026"},{"@context":"http://schema.org/","@id":"#LocalBusiness","@type":"LocalBusiness","name":"San Diego DJ for Party Events Weddings DJs spinning House Music Dance EDM","url":"https://djmisha.com/","image":"/images/i-4LhQfht-L.jpg","priceRange":"Contact For Pricing","address":[{"@type":"PostalAddress","streetAddress":"4640 Cass Street #9553","addressLocality":"San Diego","addressRegion":"CA","postalCode":"92109","addressCountry":"US","telephone":"+1-619-786-2664"}],"employees":["DJ Misha"]},{"@context":"http://schema.org","@type":"Person","jobTitle":"DJ","name":"DJ Misha","telephone":"+1-619-786-2664","url":"https://djmisha.com/about/","image":"/images/Best-San-Diego-DJ-djmisha.com-12-300x200.jpg"},{"@context":"http://schema.org/","@type":"Article","mainEntityOfPage":{"@type":"WebPage","@id":"https://djmisha.com/blog/a-guide-to-planning-for-your-wedding-with-dj-misha/"},"headline":"A Guide to Planning for Your Wedding with DJ Misha","datePublished":"2023-02-23T03:17:31-08:00","description":"Planning a wedding can be a formidable task, and choosing the right music is a big part of that. That\u2019s why we\u2019ve created this comprehensive guide to help you plan [\u2026]","author":{"@type":"Person","name":"admin"},"publisher":{"@type":"Organization","name":"San Diego DJ for Party Events Weddings DJs spinning House Music Dance EDM","logo":{"@type":"ImageObject","url":"/images/logo-djmisha-150x150.png","width":150}},"image":{"@type":"ImageObject","url":"/images/10-i-4lhqfht-l.jpg","height":800,"width":534},"dateModified":"2024-09-09T08:07:42-07:00"}];
---
<PageLayout title="A Guide to Planning for Your Wedding with DJ Misha" description={desc} canonicalUrl="https://djmisha.com/blog/a-guide-to-planning-for-your-wedding-with-dj-misha/" ogTitle="A Guide to Planning for Your Wedding with DJ Misha" ogImage="https://djmisha.com/images/10-i-4lhqfht-l.jpg" ogUrl="https://djmisha.com/blog/a-guide-to-planning-for-your-wedding-with-dj-misha/" ogType="article" twitterTitle="A Guide to Planning for Your Wedding with DJ Misha" twitterImage="https://djmisha.com/images/10-i-4lhqfht-l.jpg" jsonLd={jsonLd}>

<p>Planning a wedding can be a formidable task, and choosing the right music is a big part of that. That&#8217;s why we&#8217;ve created this comprehensive guide to help you plan your wedding music with DJ Misha. Our goal is to make the music on your wedding day a meaningful and entertaining experience, while also making the planning process as easy as possible for you.</p>


<div class="wp-block-image">
<figure class="alignright size-full is-resized"><img fetchpriority="high" decoding="async" width="800" height="534" src="/images/10-i-4lhqfht-l.jpg" alt="DJing for 40th Birthday Party" class="wp-image-1940" style="width:226px;height:151px" srcset="/images/10-i-4lhqfht-l.jpg 800w, /images/10-i-4lhqfht-l-300x200.jpg 300w, /images/10-i-4lhqfht-l-768x513.jpg 768w" sizes="(max-width: 800px) 100vw, 800px" /><figcaption class="wp-element-caption">DJ Misha spinning records at a party</figcaption></figure>
</div>


<h2 class="wp-block-heading">Let&#8217;s get into the details</h2>



<p>You&#8217;ve just booked a DJ for your wedding, or maybe you still have a few  of questions before you commit. DJ Misha is here to help answer those commonly asked questions and guide you through the music planning process. </p>



<p>With this guide, you&#8217;ll have all the information you need to make the most of your wedding day. We&#8217;ll cover everything from creating a timeline of events, sharing requests and playlists, and making announcements, to planning the ceremony, cocktail hour, dinner, toasts, and dancing.</p>



<h2 class="wp-block-heading">Communication and Planning</h2>



<p>We&#8217;ll stay in touch throughout the various phases of your wedding planning and meet at key points to review your timeline before the event. DJ Misha is always available to answer any questions you have via text, so please don&#8217;t hesitate to reach out.</p>



<ol class="wp-block-list">
<li><strong>Pre-Booking Inquiries</strong>
<ul class="wp-block-list">
<li>We&#8217;ll communicate mostly via text to coordinate your event details, common questions, and cost estimates to confirm the booking.</li>
</ul>
</li>



<li><strong>Booking Confirmed and Kickoff</strong>
<ul class="wp-block-list">
<li>Once you&#8217;re ready to confirm DJ Misha for your date, we can have a kickoff meet-and-greet phone call.</li>
</ul>
</li>



<li><strong>Event Timeline Review</strong>
<ul class="wp-block-list">
<li>About 1 week before your date, we&#8217;ll meet to review your timeline and playlists. And discuss any outstanding questions you may have. </li>
</ul>
</li>
</ol>



<h2 class="wp-block-heading">Timeline of Events</h2>



<p>The first step in planning your wedding music is to create a timeline of events. You or your wedding planner can create the timeline. Your timeline should include at the least columns for: time, event, music/song, and announcements at a given moment.  </p>



<p>Ideally the timeline should be a cloud-based document, that way once you share it with your vendors any additional changes will be automatically distributed. </p>



<p>Please share the timeline with DJ Misha at least one week before the event so he can review it thoroughly and be prepared for your big day with a 100% perfect execution.</p>



<h2 class="wp-block-heading">Music Planning and Playlists for Song Requests</h2>



<p>To begin planning music first we&#8217;ll have a conversation about your music tastes, your guests&#8217; demographics, and your vision for the music. With that knowledge and some planning DJ Misha will deliver a unique DJ set that can be heard only on your wedding day!</p>



<p>You are welcome to participate in the music selection process as much or as little as you would prefer. Some couples will want to get fully hands-on in selecting  their music.  While others simply choose to provide details about their guest demographics, favorite genres, and trust the DJ to handle the rest.  Either approach is perfectly fine &#8211; this is totally up to you.  DJ Misha&#8217;s goal is to make your musical vision come alive on your wedding day.</p>



<p>The best way to share your music ideas is to make playlists on Spotify using the process outlined below:<br><br>Do the following: </p>



<ol class="wp-block-list">
<li>Create different playlists for each section of your wedding: pre-ceremony, ceremony, cocktail hour, dinner, and dancing. </li>



<li>It takes about 16-20 songs to fill one hour of music time. Try to keep your playlist to the length of the given event. </li>



<li>When selecting music focus on your most favorite songs or &#8220;must plays&#8221; songs only. There is no need to add extra songs or filler music. </li>



<li>You may organize the playlists songs in the order the you&#8217;re thinking that songs should be played.</li>



<li>Share playlists with DJ Misha at least one week before the event for review and preparation.</li>
</ol>



<p>Try to avoid the following:</p>



<ul class="wp-block-list">
<li>Don&#8217;t overload your playlists more than about a half hour of the intended playlist time.  For example, it is not helpful to receive a 8 hour playlist for a 2 hour dance party. </li>



<li>Save some time and effort &#8211; there is no need to create a &#8220;Do Not Play&#8221; list for DJ Misha. He does not play or tolerate bad wedding music. Focusing on your favorite music when creating the playlists is key. </li>
</ul>



<h3 class="wp-block-heading">Ceremony Music</h3>



<p>For the ceremony, you may select up to 30 minutes of music to be played before the ceremony begins. For the recessional you can select up to three songs: one song for the wedding party, one song for the bride, and one song for the bride and groom&#8217;s walk off. DJ Misha can provide a sound system with a microphone for your ceremony and the music playlist, if applicable. </p>



<p>As a tip, practice reciting vows a few times before the ceremony. It&#8217;s an emotional moment, and some people tend to cry, so practicing will help.</p>



<h3 class="wp-block-heading">Cocktail Hour Music</h3>



<p>The cocktail hour is an opportunity to set the mood for the rest of the evening and music can play a role. During the cocktail hour, the music is generally passive, and the volume is medium. You may select up to one hour of music for your cocktail hour playlist. DJ Misha can provide a sound system for your cocktail hour, if applicable.</p>



<h3 class="wp-block-heading">Dinner Music</h3>



<p>During dinner, the music is generally passive, and the volume is low to medium. You may select up to 1.5 hours of music for your dinner playlist. Dinner music is often interrupted by events such as toasts so put your song selections on the timeline for any dinner events, such as the grand entrance, first dances, bouquet and garter toss, and last song. DJ Misha can provide the dinner playlist, if that is your preference.</p>



<h2 class="wp-block-heading">MC and Announcements</h2>



<p>DJ Misha can make all the necessary microphone announcements throughout your wedding. All announcements should be noted on the timeline. For names that are difficult to pronounce, please provide a phonetic spelling to help ensure that your guests are addressed correctly.</p>



<p>If you are looking for an elaborate Master of Ceremonies experience, for example if you&#8217;d like someone to take the front stage with the microphone, lead line dances, tell stand up comedy jokes or provide a distinct personality &#8211; then DJ Misha recommends finding an MC to fit those specific needs to work alongside with the DJ.</p>



<h2 class="wp-block-heading">Toasts and Microphones</h2>



<p>To keep toasts meaningful and entertaining, follow these tips. Select 3-4 people as toast givers, and when possible, choose the best public speakers in your group. It is important to ask the toast givers to prepare a speech, and not just wing it in the moment. This approach will help keep the toasts organized and on track, and will also allow the toast givers to put their best foot forward.</p>



<p>As a part of the wedding service we will provide a wired microphone for guest toasts. In our experience we find that a wired microphone delivers the most reliable and dependable experience when it comes to novice microphone users when speaking in public. </p>



<h2 class="wp-block-heading">Dancing and guest music requests</h2>



<p>For the dancing portion of your event, DJ Misha has you covered. You can select up to 2 hours of music, or an amount of time that makes sense based on your event timeline. DJ Misha will do his best to honor guest song requests if the request makes sense in the context of the given moment or vision of the evening. However, DJ Misha reserves the discretion to make the final call on music requests from guests in the best interest of your events vision, vibe and energy.</p>



<h2 class="wp-block-heading">Information for Wedding planners</h2>



<p>If you are working with a wedding planner or day of coordination please to share DJ Misha&#8217;s contact information and the most commonly event related questions for wedding planners here:</p>



<ul class="wp-block-list">
<li>DJ Misha can be reached by text message to (619) 786-2664 or via his website at djmisha.com. </li>



<li>DJ will arrive 2 hours before the event for setup at the venue</li>



<li>DJ will need you to provide 6 foot banquet table for his equipment in the Reception room.</li>



<li>DJ will need you to provide 2-4 foot  table for ceremony, if applicable </li>



<li>If vendor insurance is required by the venue, we can provide it once given the name and address of the additionally insured.</li>



<li>If a vendor meal is provided, we request one Pescatarian or Vegetarian meal</li>
</ul>



<p><strong>DJ Misha would also love to know these additional details:</strong></p>



<ul class="wp-block-list">
<li>Is there is parking reserved for vendors?</li>



<li>Where is easiest way to load equipment in and out of the venue?</li>



<li>Does the the venue requires vendor insurance?</li>



<li>Does the venue have any sound restrictions or additional rules or requests?</li>
</ul>



<h2 class="wp-block-heading">Payment Terms</h2>



<p>A deposit is required to secure your date and book DJ Misha. The deposit is half the total balance and is due at the confirmation of booking, and can be paid in a variety of payment methods, allowing you to select one that works best for you. Generally a digital cash equivalent like Venmo or PayPal works great, Credit Cards are also accepted for a small service fee. </p>



<p>The final payment due is collected one week before your event date &#8211; that way all business is settled and out of the way, and once its time for your wedding day all thats left to do it have a great time.</p>



<h2 class="wp-block-heading">Ratings and Reviews</h2>



<p>DJ Misha strives to offer the best service and experience for your special day. Your satisfaction is his top priority, and he constantly works to exceed expectations. To help maintain and improve the quality of his services, as well as assist future clients in making informed decisions, DJ Misha kindly requests your feedback at the end of the process.</p>



<p>After your event, you will receive a polite invitation to leave a review and rating of your experience. Your honest feedback is invaluable, as it not only helps DJ Misha refine and enhance his services but also provides crucial insights for couples planning their own celebrations.</p>



<p>DJ Misha deeply appreciates the time you take to share your thoughts and experiences. Your feedback contributes to the continuous improvement of his services and helps build trust with potential clients. Thank you in advance for your support in this regard!</p>



<h3 class="wp-block-heading">Let&#8217;s stay in touch</h3>



<p>The best way to stay in touch with DJ Misha is by text at (619) 786-2664. Texting is generally the faster modern way to communicate. If you have any questions or concerns, feel free to reach out by text anytime &#8211; and we&#8217;ll get back to you quickly.</p>



<p>With DJ Misha&#8217;s expertise in music entertainment, he is confident that together we can create a truly unforgettable wedding celebration. Let&#8217;s work together to make your wedding an event that you and your guests will always remember! </p>



<p>DJ Misha looks forward to creating a special experience on your wedding day.</p>
<div class="clear"></div>
<p class="tags"></p>

</PageLayout>
