---
import ContactLayout from '../../layouts/ContactLayout.astro';
import ContactForm from '../../components/ContactForm.astro';
import { buildJsonLd } from '../../data/schema';

const jsonLd = buildJsonLd({
  '@context': 'http://schema.org/',
  '@type': 'WebPage',
  url: 'https://djmisha.com/contact/',
  headline: 'Contact San Diego DJ for Pricing and Bookings',
  mainEntityOfPage: 'https://djmisha.com/contact/',
  about:
    'Welcome! I’m DJ Misha, and I’m excited you’re considering me for your upcoming celebration. With years of experience crafting unforgettable moments, I specialize in creating the perfect musical atmosphere for any occasion. From elegant weddings to vibrant private parties and sophisticated corporate events, we bring our passion and expertise to venues both locally and worldwide.…',
});
const contactDesc =
  "Hire a DJ near you. Reach out to DJ Misha today to receive availably and pricing for your event, party or wedding. Get fast response. Let's Party! \uD83E\uDD73";
---

<ContactLayout
  title="Contact San Diego DJ for Pricing and Bookings"
  heading="Contact San Diego DJ for Pricing and Bookings"
  description={contactDesc}
  canonicalUrl="https://djmisha.com/contact/"
  ogTitle="Contact San Diego DJ for Pricing and Bookings"
  ogImage="https://djmisha.com/images/logo-djmisha.png"
  ogUrl="https://djmisha.com/contact/"
  ogType="website"
  twitterTitle="Contact San Diego DJ for Pricing and Bookings"
  twitterImage="https://djmisha.com/images/logo-djmisha.png"
  jsonLd={jsonLd}
>
  <div class="wp-block-image">
    <figure class="alignright size-large">
      <img decoding="async" src="/images/expert.png" alt="" />
    </figure>
  </div>

  <p>
    Welcome! I&#8217;m DJ Misha, and I&#8217;m excited you&#8217;re considering
    me for your upcoming celebration. With years of experience crafting
    unforgettable moments, I specialize in creating the perfect musical
    atmosphere for any occasion.
  </p>

  <p>
    From elegant weddings to vibrant private parties and sophisticated corporate
    events, we bring our passion and expertise to venues both locally and
    worldwide. The mission is simple: to keep your dance floor entertained and
    your guests talking about your event long after it&#8217;s over.
  </p>

  <p>Ready to start planning?</p>

  <p>
    Fill out the quick form below with your event details and I&#8217;ll
    promptly respond with availability and pricing tailored to your celebration.
  </p>

  <p>Looking forward to helping make your event extraordinary!</p>

  <ContactForm />
</ContactLayout>
