---
---
<section id="sidebar"><section><p class="sidebar-title">Pricing and Packages</p>			<div class="textwidget"><p>All offerings for private parties, corporate events and weddings include DJ services such as mixed music, speakers and mixing equipment, set up and breakdown and working with the host to coordinate event planning.</p>
<p>Rates and prices may vary depending on date, time, location, equipment required, number of people attending and client expectations.  Please provide details for your event for an accurate estimate.</p>
</div>
		 </section><hr />
</section>
