---
---
<!-- Footer -->
<footer id="footer">

  <div class="lets-chat">
    <a href="/contact/" class="show-form" rel="nofollow"><img src="/images/expert.png" alt="Book Now, Let's Chat">
      <span>Book Now<br>Let's Chat</span>
    </a>
  </div>

  <div class="row">
    <div class="col-4 col-4-medium">
      <ul class="menu-footer-navigation">
        <li><a href="/">Home</a></li>
        <li><a href="/services/">Services</a></li>
        <li><a href="/dj-saxophone/">DJ &amp; Saxophone</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </div>
    <div class="col-4 col-7-medium">
      <ul class="services-navigation">
        <li><a href="/services/wedding-dj-in-san-diego/">Wedding DJ in San Diego</a></li>
        <li><a href="/services/corporate-event-dj-in-san-diego/">Corporate Event DJ in San Diego</a></li>
        <li><a href="/services/party-birthday-dj-in-san-diego/">Party Birthday DJ in San Diego</a></li>
      </ul>
    </div>
    <div class="col-4 col-12-medium">
      <aside>
        <p class="sentance">DJ Misha is a San Diego DJ for hire, specializing in weddings, parties, and corporate events, with expertise in EDM, house, and dance music. Mobile DJ services include sound systems and professional DJ gear.
        <br />
        <br />
        <b>Text or Call for a fast response <a href="tel:6197862664">(619) 786-2664</a></b>
        </p>
      </aside>
    </div>
  </div>

  <ul class="icons">
    <li>
      <a href="https://www.instagram.com/djmishasd/" class="icon brands fa-instagram" target="_blank" title="DJ Misha">
        <span class="label">DJ Misha</span>
      </a>
    </li>
    <li>
      <a href="https://www.google.com/maps/place/DJ+Misha+-+San+Diego+DJ+for+Events+Party+Weddings+Club+Affordable+Prices+House+Dance+Music/@32.7990179,-117.2530949,9z/data=!4m5!3m4!1s0x0:0x3fae10d8742ab418!8m2!3d32.7990179!4d-117.2530949" class="icon brands fa-google" target="_blank" title="San Diego DJ Google +" rel="noreferrer">
        <span class="label">San Diego DJ Google</span>
      </a>
    </li>
    <li>
      <a href="https://www.yelp.com/biz/dj-misha-san-diego-3" class="icon brands fa-yelp" target="_blank" title="San Diego DJ Yelp" rel="noreferrer">
        <span class="label">San Diego DJ Yelp</span>
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/djmishaSandiego" class="icon brands fa-facebook" target="_blank" title="San Diego DJ Facebook" rel="noreferrer">
        <span class="label">San Diego DJ Facebook</span>
      </a>
    </li>
    <li>
      <a href="/contact/" class="icon" title="Email San Diego DJ" rel="noreferrer"><i class="fas fa-envelope"></i>
        <span class="label" title="Booking San Diego DJ">Email San Diego DJ</span>
      </a>
    </li>
  </ul>

  <ul class="copyright">
    <li>&copy; <a href="/" title="DJ Misha" rel="home">DJ Misha</a> | <a href="/sitemap/">Sitemap</a></li>
  </ul>
  
  <!-- Scripts -->
  <script is:inline src="/js/jquery.min.js"></script>
  <script is:inline src="/js/jquery.scrolly.min.js"></script>
  <script is:inline src="/js/jquery.dropotron.min.js"></script>
  <script is:inline src="/js/jquery.scrollex.min.js"></script>
  <script is:inline src="/js/browser.min.js"></script>
  <script is:inline src="/js/breakpoints.min.js"></script>
  <script is:inline src="/js/util.js"></script>
  <script is:inline src="/js/main.js"></script>
  <script is:inline src="/js/custom.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=UA-7759036-2"></script>
  <script is:inline>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-7759036-2');
  </script>

</footer>
