---
---
<section id="sidebar"><section>
<!-- default-view.php -->
<div
	class="ngg-galleryoverview default-view ngg-ajax-pagination-none"
	id="ngg-gallery-1f2b69fd9fb4a9c2eb3b85c4f96d9b4e-1"
	data-gallery-id="32">

		<!-- Thumbnails -->
				<div id="ngg-image-0" class="ngg-gallery-thumbnail-box">
						<div class="ngg-gallery-thumbnail">
			<a href="/images/02-i-gctc8wc-l.jpg"
				title=""
				data-src="/images/02-i-gctc8wc-l.jpg"
				data-thumbnail="/images/thumbs_02-i-gctc8wc-l.jpg"
				data-image-id="571"
				data-title="DJing for 40th Birthday Party"
				data-description=""
				data-image-slug="djing-for-40th-birthday-party-2"
																				>
								<img
					title="DJing for 40th Birthday Party"
					alt="DJing for 40th Birthday Party"
					src="/images/thumbs_02-i-gctc8wc-l.jpg"
					width="100"
					height="75"
					style="max-width:100%;"
				/>
			</a>
		</div>
							</div>

				<div id="ngg-image-1" class="ngg-gallery-thumbnail-box">
						<div class="ngg-gallery-thumbnail">
			<a href="/images/03-i-s6qqx6j-xl.jpg"
				title=""
				data-src="/images/03-i-s6qqx6j-xl.jpg"
				data-thumbnail="/images/thumbs_03-i-s6qqx6j-xl.jpg"
				data-image-id="572"
				data-title="DJing for 40th Birthday Party"
				data-description=""
				data-image-slug="djing-for-40th-birthday-party-3"
																				>
								<img
					title="DJing for 40th Birthday Party"
					alt="DJing for 40th Birthday Party"
					src="/images/thumbs_03-i-s6qqx6j-xl.jpg"
					width="100"
					height="74"
					style="max-width:100%;"
				/>
			</a>
		</div>
							</div>

				<div id="ngg-image-2" class="ngg-gallery-thumbnail-box">
						<div class="ngg-gallery-thumbnail">
			<a href="/images/04-i-c9jsh2s-l.jpg"
				title=""
				data-src="/images/04-i-c9jsh2s-l.jpg"
				data-thumbnail="/images/thumbs_04-i-c9jsh2s-l.jpg"
				data-image-id="573"
				data-title="DJing for 40th Birthday Party"
				data-description=""
				data-image-slug="djing-for-40th-birthday-party-4"
																				>
								<img
					title="DJing for 40th Birthday Party"
					alt="DJing for 40th Birthday Party"
					src="/images/thumbs_04-i-c9jsh2s-l.jpg"
					width="100"
					height="75"
					style="max-width:100%;"
				/>
			</a>
		</div>
							</div>

				<div id="ngg-image-3" class="ngg-gallery-thumbnail-box">
						<div class="ngg-gallery-thumbnail">
			<a href="/images/05-i-dsccmdj-l-2.jpg"
				title=""
				data-src="/images/05-i-dsccmdj-l-2.jpg"
				data-thumbnail="/images/thumbs_05-i-dsccmdj-l.jpg"
				data-image-id="574"
				data-title="DJing for 40th Birthday Party"
				data-description=""
				data-image-slug="djing-for-40th-birthday-party-5"
																				>
								<img
					title="DJing for 40th Birthday Party"
					alt="DJing for 40th Birthday Party"
					src="/images/thumbs_05-i-dsccmdj-l.jpg"
					width="100"
					height="75"
					style="max-width:100%;"
				/>
			</a>
		</div>
							</div>

				<div id="ngg-image-4" class="ngg-gallery-thumbnail-box">
						<div class="ngg-gallery-thumbnail">
			<a href="/images/06-i-s4cdkc6-xl.jpg"
				title=""
				data-src="/images/06-i-s4cdkc6-xl.jpg"
				data-thumbnail="/images/thumbs_06-i-s4cdkc6-xl.jpg"
				data-image-id="575"
				data-title="DJing for 40th Birthday Party"
				data-description=""
				data-image-slug="djing-for-40th-birthday-party-6"
																				>
								<img
					title="DJing for 40th Birthday Party"
					alt="DJing for 40th Birthday Party"
					src="/images/thumbs_06-i-s4cdkc6-xl.jpg"
					width="100"
					height="75"
					style="max-width:100%;"
				/>
			</a>
		</div>
							</div>

				<div id="ngg-image-5" class="ngg-gallery-thumbnail-box">
						<div class="ngg-gallery-thumbnail">
			<a href="/images/07-i-j5hkmgx-xl.jpg"
				title=""
				data-src="/images/07-i-j5hkmgx-xl.jpg"
				data-thumbnail="/images/thumbs_07-i-j5hkmgx-xl.jpg"
				data-image-id="576"
				data-title="DJing for 40th Birthday Party"
				data-description=""
				data-image-slug="djing-for-40th-birthday-party-7"
																				>
								<img
					title="DJing for 40th Birthday Party"
					alt="DJing for 40th Birthday Party"
					src="/images/thumbs_07-i-j5hkmgx-xl.jpg"
					width="100"
					height="74"
					style="max-width:100%;"
				/>
			</a>
		</div>
							</div>

				<div id="ngg-image-6" class="ngg-gallery-thumbnail-box">
						<div class="ngg-gallery-thumbnail">
			<a href="/images/08-i-wzvfmzk-xl.jpg"
				title=""
				data-src="/images/08-i-wzvfmzk-xl.jpg"
				data-thumbnail="/images/thumbs_08-i-wzvfmzk-xl.jpg"
				data-image-id="577"
				data-title="DJing for 40th Birthday Party"
				data-description=""
				data-image-slug="djing-for-40th-birthday-party-8"
																				>
								<img
					title="DJing for 40th Birthday Party"
					alt="DJing for 40th Birthday Party"
					src="/images/thumbs_08-i-wzvfmzk-xl.jpg"
					width="100"
					height="75"
					style="max-width:100%;"
				/>
			</a>
		</div>
							</div>

				<div id="ngg-image-7" class="ngg-gallery-thumbnail-box">
						<div class="ngg-gallery-thumbnail">
			<a href="/images/09-i-tqr27mj-xl.jpg"
				title=""
				data-src="/images/09-i-tqr27mj-xl.jpg"
				data-thumbnail="/images/thumbs_09-i-tqr27mj-xl.jpg"
				data-image-id="578"
				data-title="DJing for 40th Birthday Party"
				data-description=""
				data-image-slug="djing-for-40th-birthday-party-9"
																				>
								<img
					title="DJing for 40th Birthday Party"
					alt="DJing for 40th Birthday Party"
					src="/images/thumbs_09-i-tqr27mj-xl.jpg"
					width="100"
					height="75"
					style="max-width:100%;"
				/>
			</a>
		</div>
							</div>

				<div id="ngg-image-8" class="ngg-gallery-thumbnail-box">
						<div class="ngg-gallery-thumbnail">
			<a href="/images/10-i-4lhqfht-l-2.jpg"
				title=""
				data-src="/images/10-i-4lhqfht-l-2.jpg"
				data-thumbnail="/images/thumbs_10-i-4lhqfht-l.jpg"
				data-image-id="579"
				data-title="DJing for 40th Birthday Party"
				data-description=""
				data-image-slug="djing-for-40th-birthday-party-10"
																				>
								<img
					title="DJing for 40th Birthday Party"
					alt="DJing for 40th Birthday Party"
					src="/images/thumbs_10-i-4lhqfht-l.jpg"
					width="100"
					height="75"
					style="max-width:100%;"
				/>
			</a>
		</div>
							</div>

				<div id="ngg-image-9" class="ngg-gallery-thumbnail-box">
						<div class="ngg-gallery-thumbnail">
			<a href="/images/11-i-jkhdb9c-xl.jpg"
				title=""
				data-src="/images/11-i-jkhdb9c-xl.jpg"
				data-thumbnail="/images/thumbs_11-i-jkhdb9c-xl.jpg"
				data-image-id="580"
				data-title="DJing for 40th Birthday Party"
				data-description=""
				data-image-slug="djing-for-40th-birthday-party-11"
																				>
								<img
					title="DJing for 40th Birthday Party"
					alt="DJing for 40th Birthday Party"
					src="/images/thumbs_11-i-jkhdb9c-xl.jpg"
					width="100"
					height="75"
					style="max-width:100%;"
				/>
			</a>
		</div>
							</div>

				<div id="ngg-image-10" class="ngg-gallery-thumbnail-box">
						<div class="ngg-gallery-thumbnail">
			<a href="/images/12-i-jdc2d2t-xl.jpg"
				title=""
				data-src="/images/12-i-jdc2d2t-xl.jpg"
				data-thumbnail="/images/thumbs_12-i-jdc2d2t-xl.jpg"
				data-image-id="581"
				data-title="DJing for 40th Birthday Party"
				data-description=""
				data-image-slug="djing-for-40th-birthday-party-12"
																				>
								<img
					title="DJing for 40th Birthday Party"
					alt="DJing for 40th Birthday Party"
					src="/images/thumbs_12-i-jdc2d2t-xl.jpg"
					width="100"
					height="74"
					style="max-width:100%;"
				/>
			</a>
		</div>
							</div>

				<div id="ngg-image-11" class="ngg-gallery-thumbnail-box">
						<div class="ngg-gallery-thumbnail">
			<a href="/images/i-9rzptd8-l.jpg"
				title=""
				data-src="/images/i-9rzptd8-l.jpg"
				data-thumbnail="/images/thumbs_i-9rzptd8-l.jpg"
				data-image-id="582"
				data-title="i-9rzptd8-l"
				data-description=""
				data-image-slug="i-9rzptd8-l"
																				>
								<img
					title="i-9rzptd8-l"
					alt="i-9rzptd8-l"
					src="/images/thumbs_i-9rzptd8-l.jpg"
					width="100"
					height="75"
					style="max-width:100%;"
				/>
			</a>
		</div>
							</div>

	<br style="clear: both" />

		<!-- Pagination -->
		<div class='ngg-clear'></div>	</div>

 </section><hr />
		<section id="sidebar"><section>
		<p class="sidebar-title">From the Blog</p>
		<ul>
											<li>
					<a href="/blog/your-wedding-your-music-how-i-spin-a-dj-set-tailored-to-your-vision/">Your Wedding, Your Music: How I Spin a DJ Set Tailored to Your Vision</a>
									</li>
											<li>
					<a href="/blog/crafting-the-perfect-toast-dj-tips-for-a-memorable-wedding-speech/">Crafting the Perfect Toast: DJ Tips for a Memorable Wedding Speech</a>
									</li>
											<li>
					<a href="/blog/the-art-of-taking-requests-a-djs-perspective/">The Art of Taking Requests: A DJ&#8217;s Perspective</a>
									</li>
											<li>
					<a href="/blog/a-guide-to-planning-for-your-wedding-with-dj-misha/">A Guide to Planning for Your Wedding with DJ Misha</a>
									</li>
											<li>
					<a href="/blog/edm-dj-for-party-or-private-event-electronic-dance-music/">DJ Misha Rocks the Party: A Night of Electronic Dance Music and House Music in San Diego</a>
									</li>
					</ul>

		 </section><hr />
