---
export interface Props {
  title: string;
  description?: string;
}

import BaseLayout from './BaseLayout.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';

const { title, description = '' } = Astro.props;
---
<BaseLayout title={title} description={description}>

  <div id="page-wrapper">
    <Navigation />
    <div id="main" class="wrapper style1 category">
      <div class="container">
        <h1>{title}</h1>
        <div class="box alt">
          <div class="row uniform">
            <slot />
          </div>
        </div>
      </div>
    </div>
  </div>

  <Footer />

</BaseLayout>
